# User-specific stuff
.idea/

*.iml
*.ipr
*.iws

# IntelliJ
out/

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

target/

pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next

release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.flattened-pom.xml

# Common working directory
run/
/.gradle/configuration-cache/0b708379-26e5-4236-81f1-aa95d1cc63ce/.globals.work.bin
/.gradle/configuration-cache/2cfa7d87-b520-4905-98cf-3eea370b02bf/.globals.work.bin
/.gradle/configuration-cache/3e637c9e-4fe4-4db6-bd72-8577e2c9ccc2/.globals.work.bin
/.gradle/configuration-cache/21f5d4b1-7a5b-4070-992d-acab4600a145/.globals.work.bin
/.gradle/configuration-cache/a9bea72d-7592-4430-92c4-b719f1f47bff/.globals.work.bin
/.gradle/configuration-cache/0b708379-26e5-4236-81f1-aa95d1cc63ce/.strings.work.bin
/.gradle/configuration-cache/2cfa7d87-b520-4905-98cf-3eea370b02bf/.strings.work.bin
/.gradle/configuration-cache/3e637c9e-4fe4-4db6-bd72-8577e2c9ccc2/.strings.work.bin
/.gradle/configuration-cache/21f5d4b1-7a5b-4070-992d-acab4600a145/.strings.work.bin
/.gradle/configuration-cache/a9bea72d-7592-4430-92c4-b719f1f47bff/.strings.work.bin
/.gradle/configuration-cache/0b708379-26e5-4236-81f1-aa95d1cc63ce/_.work.bin
/.gradle/configuration-cache/2cfa7d87-b520-4905-98cf-3eea370b02bf/_.work.bin
/.gradle/configuration-cache/3e637c9e-4fe4-4db6-bd72-8577e2c9ccc2/_.work.bin
/.gradle/configuration-cache/21f5d4b1-7a5b-4070-992d-acab4600a145/_.work.bin
/.gradle/configuration-cache/a9bea72d-7592-4430-92c4-b719f1f47bff/_.work.bin
/.gradle/configuration-cache/0b708379-26e5-4236-81f1-aa95d1cc63ce/buildfingerprint.bin
/.gradle/configuration-cache/2cfa7d87-b520-4905-98cf-3eea370b02bf/buildfingerprint.bin
/.gradle/configuration-cache/3e637c9e-4fe4-4db6-bd72-8577e2c9ccc2/buildfingerprint.bin
/.gradle/configuration-cache/21f5d4b1-7a5b-4070-992d-acab4600a145/buildfingerprint.bin
/.gradle/configuration-cache/a9bea72d-7592-4430-92c4-b719f1f47bff/buildfingerprint.bin
/.gradle/configuration-cache/17ad4101-4ea4-49a4-8f15-a675ffee73c1/buildfingerprint13542669848935511499.tmp
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/configuration-cache/2wg1wb8ti24eysf5tx0dot234/candidates.bin
/.gradle/configuration-cache/3ypcbwh3w7p1r8akg62vlhgjx/candidates.bin
/.gradle/configuration-cache/6vhj9k6uwa5os79xpx8pkg3x5/candidates.bin
/.gradle/configuration-cache/cmvahealbta6mt6gge27eknau/candidates.bin
/.gradle/8.5/checksums/checksums.lock
/.gradle/8.14.4/checksums/checksums.lock
/.gradle/9.4.1/checksums/checksums.lock
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab.keystream
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab.keystream.len
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab.len
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab.values.at
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab_i
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab_i.len
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.keystream
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.keystream.len
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.len
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.values.at
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab_i
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab_i.len
/.gradle/configuration-cache/0b708379-26e5-4236-81f1-aa95d1cc63ce/classloaderscopes.bin
/.gradle/configuration-cache/2cfa7d87-b520-4905-98cf-3eea370b02bf/classloaderscopes.bin
/.gradle/configuration-cache/3e637c9e-4fe4-4db6-bd72-8577e2c9ccc2/classloaderscopes.bin
/.gradle/configuration-cache/21f5d4b1-7a5b-4070-992d-acab4600a145/classloaderscopes.bin
/.gradle/configuration-cache/a9bea72d-7592-4430-92c4-b719f1f47bff/classloaderscopes.bin
/.gradle/configuration-cache/9dd4df63-4e3a-4fbe-b479-90ed866905b3/classloaderscopes3366798931226366324.tmp
/.gradle/configuration-cache/71ba9c92-f364-49fa-867c-301437500537/classloaderscopes15920480519715227650.tmp
/.gradle/configuration-cache/69478385-6924-466e-89b3-030212e3c5e1/classloaderscopes17871001278893014423.tmp
/.gradle/configuration-cache/17ad4101-4ea4-49a4-8f15-a675ffee73c1/classloaderscopes18147506230129655927.tmp
/.gradle/configuration-cache/configuration-cache.lock
/build/reports/configuration-cache/2wg1wb8ti24eysf5tx0dot234/6lf9zyo2s37kyrmnatz06ay1c/configuration-cache-report.html
/build/reports/configuration-cache/2wg1wb8ti24eysf5tx0dot234/7syw88utc4gtltwr79stvv410/configuration-cache-report.html
/build/reports/configuration-cache/3ypcbwh3w7p1r8akg62vlhgjx/4km730xdioac0reh6m3pfi9r8/configuration-cache-report.html
/build/reports/configuration-cache/3ypcbwh3w7p1r8akg62vlhgjx/23ersvi746jjn6ob0936kv221/configuration-cache-report.html
/build/reports/configuration-cache/3ypcbwh3w7p1r8akg62vlhgjx/41mzvdpgnu10ikdgysmrklhyg/configuration-cache-report.html
/build/reports/configuration-cache/3ypcbwh3w7p1r8akg62vlhgjx/cgcxjm1mjqr2dwr7ezx93vjkf/configuration-cache-report.html
/build/reports/configuration-cache/6vhj9k6uwa5os79xpx8pkg3x5/2uq6qouhrj1a2r7us3vxi7hui/configuration-cache-report.html
/build/reports/configuration-cache/6vhj9k6uwa5os79xpx8pkg3x5/7ljn4auozr75vyjo8ygy4k049/configuration-cache-report.html
/build/reports/configuration-cache/6vhj9k6uwa5os79xpx8pkg3x5/10q2ubzvh7yi8m5fu0q5wdopo/configuration-cache-report.html
/build/reports/configuration-cache/6vhj9k6uwa5os79xpx8pkg3x5/79lvhc22riq5eu7pjkwthzauo/configuration-cache-report.html
/build/reports/configuration-cache/6vhj9k6uwa5os79xpx8pkg3x5/98izoxofpjcivv0xzt8t2mmcx/configuration-cache-report.html
/build/reports/configuration-cache/6vhj9k6uwa5os79xpx8pkg3x5/acsi4rkefmw30ba99ljh56q5b/configuration-cache-report.html
/build/reports/configuration-cache/6vhj9k6uwa5os79xpx8pkg3x5/bw15d3r62s8jygg05l20yguh1/configuration-cache-report.html
/build/reports/configuration-cache/6vhj9k6uwa5os79xpx8pkg3x5/c24z3nxpjhd9p4h6s2qhz3t0y/configuration-cache-report.html
/build/reports/configuration-cache/6vhj9k6uwa5os79xpx8pkg3x5/cz2wwgk6vmm6c7d3ebk9z0cco/configuration-cache-report.html
/build/reports/configuration-cache/6vhj9k6uwa5os79xpx8pkg3x5/e8q8fqutioeyirm2wbhp5knrc/configuration-cache-report.html
/build/reports/configuration-cache/6vhj9k6uwa5os79xpx8pkg3x5/z1nwjnp4io5fn69bt9gy60p6/configuration-cache-report.html
/build/reports/configuration-cache/cmvahealbta6mt6gge27eknau/2tz4yq4nxi69ooxgpujs6t28a/configuration-cache-report.html
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/constants.tab
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/constants.tab.keystream
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/constants.tab.keystream.len
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/constants.tab.len
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/constants.tab.values.at
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/constants.tab_i
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/constants.tab_i.len
/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/counters.tab
/.gradle/configuration-cache/0b708379-26e5-4236-81f1-aa95d1cc63ce/entry.bin
/.gradle/configuration-cache/2cfa7d87-b520-4905-98cf-3eea370b02bf/entry.bin
/.gradle/configuration-cache/3e637c9e-4fe4-4db6-bd72-8577e2c9ccc2/entry.bin
/.gradle/configuration-cache/21f5d4b1-7a5b-4070-992d-acab4600a145/entry.bin
/.gradle/configuration-cache/a9bea72d-7592-4430-92c4-b719f1f47bff/entry.bin
/.gradle/9.4.1/executionHistory/executionHistory.bin
/.gradle/8.14.4/executionHistory/executionHistory.lock
/.gradle/9.4.1/executionHistory/executionHistory.lock
/.gradle/9.4.1/expanded/expanded.lock
/.gradle/file-system.probe
/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/file-to-id.tab
/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/file-to-id.tab.keystream
/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/file-to-id.tab.keystream.len
/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/file-to-id.tab.len
/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/file-to-id.tab.values.at
/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/file-to-id.tab_i
/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/file-to-id.tab_i.len
/.gradle/8.14.4/fileHashes/fileHashes.bin
/.gradle/9.4.1/fileHashes/fileHashes.bin
/.gradle/8.14.4/fileHashes/fileHashes.lock
/.gradle/9.4.1/fileHashes/fileHashes.lock
/.gradle/8.5/gc.properties
/.gradle/8.14.4/gc.properties
/.gradle/9.4.1/gc.properties
/.gradle/configuration-cache/gc.properties
/.gradle/vcs-1/gc.properties
/gradle/wrapper/gradle-wrapper.properties
/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/id-to-file.tab
/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/id-to-file.tab.keystream
/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/id-to-file.tab.keystream.len
/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/id-to-file.tab.len
/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/id-to-file.tab.values.at
/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/id-to-file.tab_i
/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/id-to-file.tab_i.len
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/inline-functions.tab
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/inline-functions.tab.keystream
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/inline-functions.tab.keystream.len
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/inline-functions.tab.len
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/inline-functions.tab.values.at
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/inline-functions.tab_i
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/inline-functions.tab_i.len
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream.len
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.len
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.values.at
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i.len
/.gradle/8.5/fileChanges/last-build.bin
/.gradle/8.14.4/fileChanges/last-build.bin
/.gradle/9.4.1/fileChanges/last-build.bin
/build/kotlin/compileKotlin/cacheable/last-build.bin
/gradle/libs.versions.toml
/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/lookups.tab
/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/lookups.tab.keystream
/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/lookups.tab.keystream.len
/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/lookups.tab.len
/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/lookups.tab.values
/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/lookups.tab.values.at
/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/lookups.tab.values.s
/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/lookups.tab_i
/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/lookups.tab_i.len
/build/tmp/jar/MANIFEST.MF
/build/tmp/shadowJar/MANIFEST.MF
/.gradle/9.4.1/checksums/md5-checksums.bin
/build/classes/kotlin/main/META-INF/MinigamePlugin.kotlin_module
/.gradle/buildOutputCleanup/outputFiles.bin
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/package-parts.tab
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/package-parts.tab.keystream
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/package-parts.tab.keystream.len
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/package-parts.tab.len
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/package-parts.tab.values.at
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/package-parts.tab_i
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/package-parts.tab_i.len
/build/resources/main/parkourdash-courses.json
/build/resources/main/plugin.yml
/build/reports/problems/problems-report.html
/.gradle/configuration-cache/0b708379-26e5-4236-81f1-aa95d1cc63ce/projectfingerprint.bin
/.gradle/configuration-cache/2cfa7d87-b520-4905-98cf-3eea370b02bf/projectfingerprint.bin
/.gradle/configuration-cache/3e637c9e-4fe4-4db6-bd72-8577e2c9ccc2/projectfingerprint.bin
/.gradle/configuration-cache/21f5d4b1-7a5b-4070-992d-acab4600a145/projectfingerprint.bin
/.gradle/configuration-cache/a9bea72d-7592-4430-92c4-b719f1f47bff/projectfingerprint.bin
/.gradle/configuration-cache/17ad4101-4ea4-49a4-8f15-a675ffee73c1/projectfingerprint752402840448748281.tmp
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab.keystream
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab.keystream.len
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab.len
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab.values
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab.values.at
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab.values.s
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab_i
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab_i.len
/.gradle/9.4.1/fileHashes/resourceHashesCache.bin
/.gradle/9.4.1/checksums/sha1-checksums.bin
/build/kotlin/compileKotlin/classpath-snapshot/shrunk-classpath-snapshot.bin
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream.len
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab.len
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab.values.at
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab_i
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab_i.len
/build/kotlin/compileKotlin/cacheable/caches-jvm/inputs/source-to-output.tab
/build/kotlin/compileKotlin/cacheable/caches-jvm/inputs/source-to-output.tab.keystream
/build/kotlin/compileKotlin/cacheable/caches-jvm/inputs/source-to-output.tab.keystream.len
/build/kotlin/compileKotlin/cacheable/caches-jvm/inputs/source-to-output.tab.len
/build/kotlin/compileKotlin/cacheable/caches-jvm/inputs/source-to-output.tab.values.at
/build/kotlin/compileKotlin/cacheable/caches-jvm/inputs/source-to-output.tab_i
/build/kotlin/compileKotlin/cacheable/caches-jvm/inputs/source-to-output.tab_i.len
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-typealias-fq-name.tab
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-typealias-fq-name.tab.keystream
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-typealias-fq-name.tab.keystream.len
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-typealias-fq-name.tab.len
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-typealias-fq-name.tab.values.at
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-typealias-fq-name.tab_i
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-typealias-fq-name.tab_i.len
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/subtypes.tab
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/subtypes.tab.keystream
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/subtypes.tab.keystream.len
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/subtypes.tab.len
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/subtypes.tab.values.at
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/subtypes.tab_i
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/subtypes.tab_i.len
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/supertypes.tab
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/supertypes.tab.keystream
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/supertypes.tab.keystream.len
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/supertypes.tab.len
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/supertypes.tab.values.at
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/supertypes.tab_i
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/supertypes.tab_i.len
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/typealias-fq-name-to-source.tab
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/typealias-fq-name-to-source.tab.keystream
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/typealias-fq-name-to-source.tab.keystream.len
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/typealias-fq-name-to-source.tab.len
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/typealias-fq-name-to-source.tab.values.at
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/typealias-fq-name-to-source.tab_i
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/typealias-fq-name-to-source.tab_i.len
/.gradle/configuration-cache/0b708379-26e5-4236-81f1-aa95d1cc63ce/work.bin
/.gradle/configuration-cache/2cfa7d87-b520-4905-98cf-3eea370b02bf/work.bin
/.gradle/configuration-cache/3e637c9e-4fe4-4db6-bd72-8577e2c9ccc2/work.bin
/.gradle/configuration-cache/21f5d4b1-7a5b-4070-992d-acab4600a145/work.bin
/.gradle/configuration-cache/a9bea72d-7592-4430-92c4-b719f1f47bff/work.bin
/.gradle/configuration-cache/17ad4101-4ea4-49a4-8f15-a675ffee73c1/.globals.work.bin
/.gradle/configuration-cache/17ad4101-4ea4-49a4-8f15-a675ffee73c1/.strings.work.bin
/.gradle/configuration-cache/17ad4101-4ea4-49a4-8f15-a675ffee73c1/_.work.bin
/.gradle/configuration-cache/17ad4101-4ea4-49a4-8f15-a675ffee73c1/buildfingerprint.bin
/.gradle/configuration-cache/o1v8xwdm3zp237vy0om4oc8z/candidates.bin
/.gradle/configuration-cache/17ad4101-4ea4-49a4-8f15-a675ffee73c1/classloaderscopes.bin
/build/reports/configuration-cache/o1v8xwdm3zp237vy0om4oc8z/2wauomia18888mypusknrygtz/configuration-cache-report.html
/.gradle/configuration-cache/17ad4101-4ea4-49a4-8f15-a675ffee73c1/entry.bin
/.gradle/configuration-cache/17ad4101-4ea4-49a4-8f15-a675ffee73c1/projectfingerprint.bin
/.gradle/configuration-cache/17ad4101-4ea4-49a4-8f15-a675ffee73c1/work.bin
